@model GYMApplication.Models.Classes
@{
    ViewBag.Title = "AdminClasses";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>AdminClasses</h2>

<style>
    .tdtableS {
        font-size: 18px;
        font-weight: normal;
        font-family: Arial;
        color: white;
        text-align: center;
        height: 20px;
    }

    .thtable2 {
        border: 1px solid;
        border-color: #414141;
        background-color: lightgray;
        font-size: 18px;
        font-weight: bold;
        font-family: Arial;
        color: #414141;
        text-align: center;
        height: 20px;
    }

    .thtable3 {
        border: 1px solid;
        border-color: #414141;
        background-color: white;
        font-size: 15px;
        font-weight: normal;
        font-family: Arial;
        color: #414141;
        text-align: center;
        height: 20px;
    }
    }
</style>

<div style="margin: 30px 15% 0px 10%;">

    <table align="right" style="text-align:right;border-collapse: collapse;">
        <tr>
            <td class="tdtableS">Search by: </td>
            <td class="tdtableS">
                <select class="tdtableS">
                    <option value="ClassID">ClassID</option>
                    <option value="Name">Name</option>
                    <option value="ClassType">Class Type</option>
                </select>
            </td>
            <td>&nbsp;</td>
            <td class="tdtableS"><input placeholder="search bt Name" type="text" width="100" class="tdtableS" /></td>
            <td class="tdtableS"><button>Search</button></td>
        </tr>
    </table>
    <br />
    <table width="100%" style="border-collapse:collapse;margin-top:5px;">
        <tr>
            <td width="32">
                <img src="../Media/button_add-icon.png" style="background-color:white;border-radius:100%;" width="30" />
            </td>
            <th class="thtable2" width="11%">
                Class ID
            </th>
            <th width="22%" class="thtable2">
                Name
            </th>
            <th width="18%" class="thtable2">
                Class Type
            </th>
            <th width="20%" class="thtable2">
                Assigned Trainer
            </th>
            <th width="15%" class="thtable2">
                Day
            </th>
            <th class="thtable2">
                Time
            </th>
        </tr>
        <tr>
            <td width="32"></td>
            <td class="thtable3" width="11%">@Html.DisplayNameFor(model => model.Class_Name)</td>
            <td class="thtable3" width="22%">@Html.DisplayFor(model => model.Class_Name)</td>
            <td class="thtable3" width="18%">@Html.DisplayNameFor(model => model.Destription)</td>
            <td class="thtable3" width="20%">@Html.DisplayFor(model => model.Destription)</td>
            <td class="thtable3" width="15%"></td>
            <th class="thtable3"></th>
        </tr>
    </table>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
