@model IEnumerable<GYMApplication.Models.PlanMaster>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlanName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicetaxAmout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.RecStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchemeID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TotalAmout)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlanName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlanAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServicetaxAmout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ModifyDate)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.RecStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchemeID)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmout)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlanID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlanID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlanID })
        </td>
    </tr>
}

</table>
